.container_c{
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
}
img{
    max-width: 100%;
}
:root {
--dark-dark-blue: #020233;
--aqua: #00ffff;
--dark-blue: #1b1b65;
}
header,
footer .footer-bottom{
    background-color: var(--dark-dark-blue);
    color: var(--bs-white);
}
.box{
    width: 100%;
    /* debug */
    border: 1px solid black;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style-type: none;
}
section{
    padding: 2em 0;
}
section:nth-child(odd){
    background-color: var(--aqua);
    color: var(--bs-white);
}
#jumbotron img{
    height: 100px;
    width: 100px;
}
footer{
    background-color: var(--dark-blue);
    color: var(--bs-white);
    padding-top: 2em;
}
